{{ define "main" }}

<main class="single recipe">
  <hgroup>
  <h1 class="title {{ if .Draft }} draft {{end}}">{{ .Title }}</h1>
  <aside class="tip">
    <dl>
    {{ with .Params.serves }}
    <div>
      <dt>serves</dt>
      <dd>{{ print . }}</dd>
    </div>
    {{ end }}
    {{ with .Params.produces }}
    <div>
      <dt>produces</dt>
      <dd>{{ print . }}</dd>
    </div>
    {{ end }}
    {{ with .Params.prep_time }}
    <div>
      <dt>prep time</dt>
      <dd>{{ . }}</dd>
    </div>
    {{ end }}
    {{ with .Params.wait_time }}
    <div>
      <dt>wait time</dt>
      <dd>{{ . }}</dd>
    </div>
    {{ end }}
    {{ with .Params.cook_time }}
    <div>
      <dt>cook time</dt>
      <dd>{{ . }}</dd>
    </div>
    {{ end }}
    </dl>
  </aside>
  </hgroup>
  <hr />
  {{ .Content }}
</main>

{{ end }}